<div class="content">
  <div class="calendar" #calendar>
    <div class="calendar__navs">
      <div class="calendar__month-nav">
        <button class="calendar__nav-btn" (click)="prevMonth()">
          &lt;
        </button>
        <span>
          {{ currentDate.format("MMMM").toUpperCase() }}
          {{ currentDate.format("YYYY") }}
        </span>
        <button class="calendar__nav-btn" (click)="nextMonth()">
          &gt;
        </button>
      </div>
    </div>
    <div class="calendar__month">
      <div class="calendar__day-names">
        <div class="calendar__day-name" *ngFor="let name of namesOfDays">
          {{ name }}
        </div>
      </div>
      <div class="calendar__weeks">
        <div class="calendar__week" *ngFor="let week of weeks">
          <ng-container *ngFor="let day of week">
            <app-date-cell
              [meetingsData]="meetingsData"
              [day]="day"
            ></app-date-cell>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
