.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  > div {
    padding: 50px;
  }

  .calendar {
    padding: 2px 0 0;
    width: 90%;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1),
      0 4px 25px 0 rgba(0, 184, 178, 0.08);
    border-radius: 4px;

    &__navs {
      background-color: #007672;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    &__nav-btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      color: #fff;
      &[disabled] {
        color: transparent;
        pointer-events: none;
        cursor: not-allowed;
      }
    }
    &__month-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      color: #fff;
      font-family: Raleway, sans-serif;
      font-size: 14px;
      span {
        line-height: 1;
      }
    }
    &__year-nav {
      height: 100%;
      font-size: 10px;
      padding: 3px 40px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: #fff;
      font-family: OpenSans, sans-serif;
    }
    &__day-names {
      font-size: 12px;
      display: flex;
      flex-direction: row;
      background-color: #007672;
      border-top: 1px solid #fff;
      padding: 0 5px;
    }
    &__day-name {
      color: #fff;
      font-family: OpenSans, sans-serif;
      font-size: 11px;
    }
    &__weeks {
      display: flex;
      flex-direction: column;
      padding: 5px;
      background-color: #fff;
    }
    &__week {
      display: flex;
      flex-direction: row;
    }
    &__date,
    &__day-name {
      text-align: center;
      padding: 3px;
      width: 14.29%;
    }
    &__date {
      height: 200px;
      border: 1px solid black;
      position: relative;
      margin: 2px;
      border-radius: 5px;
      &:hover {
        cursor: pointer;
      }
      &.today {
        font-weight: bold;
        border: 1px solid red;
      }
    }
    &__meetings {
      font-size: 12px;
      font-family: OpenSans, sans-serif;
      overflow-y: scroll;
      height: 100%;
    }
    &__meeting {
    }
  }
}
